body {
    font-family: sans-serif;
  }
  p, ul {
    border: 2px solid rebeccapurple;
    padding: 0.2em;
  }
  
  .block, li {
    border: 2px solid blue;
    padding: 0.2em;
  }
  
  ul {
    display: inline-flex;
    list-style: none;
    padding: 0;
  }
  
  .block {
    display: block;
  }  

  .inline {
    display: inline;
  }

  /* To use the alternative box model for all of your elements (which is a common choice among developers), set the box-sizing property on the <html> element and set all other elements to inherit that value:

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
} */

/* The order of border-style is top, right, bottom, left
border-style: dashed groove none dotted; */